.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -1%;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a, .burger-icon {
    padding: 8px 8px 8px 32px;
    font-size: 25px;
    display: block;
}

a, .burger-icon {
    color: #818181;
    text-decoration: none;
    transition: 0.3s;
}

a:hover, .burger-icon:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 36px;
}

.burger-icon {
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: #111;
    color: whitesmoke;
}

.header-content h1 {
    margin: 0 auto;
    text-align: center;
}

.burger-icon {
    font-size: 30px;
    cursor: pointer;
    color: 818181;
}

.sidenav a {
    border-bottom: 1px solid #818181;
}

.sidenav a:first-child, .sidenav a:last-child {
    border-bottom: none;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-top: 1%;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family:Arial, Helvetica, sans-serif;
}

header {
    font-size: 25px;
    padding: 1%;
}

header, footer {
    text-align: center;
    background-color: #111;
    color:whitesmoke;
    display:inline;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

main>h1 {
    font-size: 40px;
    margin-bottom: -5px;
}

article {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    text-align: justify;
    align-items: center;
    width: 75%;
    background-color: #C9C9C9;
}

article>* {
    padding: 3%;
}

article h1 {
    font-size: 32px;
    white-space: nowrap;
}

article p, article li {
    font-size: 22px;
}

#pp_pro_sanstel {
    width:100%
}