* {
    color: rgb(220, 220, 220);
}

header {
    position: sticky;
    top:0;
    z-index: 1000;
}

body {
    background-color: rgb(10, 10, 10);
}

.section-background0 {
    background: linear-gradient(rgb(10, 10, 10), rgb(100, 100, 100));
}

.section-background1 {
    background: linear-gradient(rgb(100, 100, 100), rgb(10, 10, 10));
}

p {
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 1000px;
    padding: 40px;
    margin: 20px 0;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(30, 30, 30);
    border-width: 5px;
}

section.background0 {
    background: linear-gradient(rgb(50, 50, 50), rgb(10, 10, 10));
}

section.background1 {
    background: linear-gradient(rgb(10, 10, 10), rgb(50, 50, 50));
}

article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

article>* {
    padding: 10px;
    margin:0;
}

h1 {
    border-style: inset;
    border-width: 10px;
    padding: 10px;
    width: 80%;
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: 0;
    border-radius: 100%;
    height: 5px;
    background: rgb(220, 220, 220);
    margin: 20px 0;
    width: 90%;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

div>* {
    margin: 10px 0;
}

h2, h3 {
    text-align: center;
}


h3 {
    font-size: 1.2em;
}

.navbar {
    background-color: rgb(50, 50, 50) !important;
}

.navbar-brand {
    color: rgb(200, 200, 200);
    font-weight: bold;
}

.navbar-brand:hover {
    color: rgb(230, 230, 230);
}

.navbar-brand:focus {
    color: white;
}

.nav-link.active {
    background-color: rgb(0, 150, 255) !important;
}

.nav-link.active:hover {
    background-color: rgb(0, 200, 255) !important;
}

.nav-link:active {
    color: rgb(0, 240, 255) !important;
}

.nav-link:hover {
    color: rgb(0, 200, 255);
}

footer {
    margin-bottom: 40px;
    text-align: center;
}

a>img {
    transition: 0.5s;
    border-style: outset;
    border-width: 7px;
    border-color: rgb(200, 200, 200);
    background-color: rgb(150, 150, 150);
    width: 100px;
    padding: 15px;
}

a>img:hover {
    transition: 0.5s;
    border-color: white;
    background-color: rgb(200, 200, 200);
    padding: 10px;
}

img {
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    border-width: 2px;
}

.logo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-height: 400px;

    img {
        padding: 5px;
        margin: 10px;
        background-color: white;
        border-radius: 10%;
        width: 100px;
        height: 100px;
        border-style: solid;
        border-width: 2px;
        border-color: black;
    }
}

a {
    color:rgb(0, 150, 255);
}

a:hover {
    color: rgb(0, 200, 255);
}
a:active {
    color: rgb(0, 240, 255);
}