.education {
    padding: 20px;
}

.timeline {
    position: relative;
    padding-left: 20px;
    border-left: 2px solid #f1f1f1;
}

.timeline-item {
    position: relative;
    margin-bottom: 30px;
    padding-left: 20px;
    display: flex;
    align-items: flex-start; /* Align items to the top */
    justify-content: flex-start; /* Align items to the left */
}

.timeline-marker {
    width: 15px; /* Increased size */
    height: 15px; /* Increased size */
    background-color: #f1f1f1;
    border-radius: 50%;
    position: absolute;
    left: -10px; /* Adjusted to align with the vertical line */
    top: 25px; /* Adjusted to move higher */
    transform: translateY(-50%);
}

.timeline-date {
    position: absolute;
    left: -180px;
    width: 150px;
    text-align: right;
    font-size: 1.1em;
    color: #f1f1f1;
    padding-right: 10px;
    top: 15px; /* Adjusted to move higher */
}

.timeline-content h3 {
    margin: 0;
    font-size: 1.2em;
}

.timeline-content p {
    margin: 5px 0;
    color: gray;
}

.timeline-content span {
    display: block;
    font-size: 0.9em;
    color: gray;
}

.timeline-content ul {
    margin: 10px 0 0;
    padding-left: 20px;
    list-style-type: disc;
}

.timeline-content ul li {
    font-size: 1.3em;
}

div {
    display: block;
}